.li {
 display: grid;
 grid-template: 1fr / 34px 1fr 34px;
 align-items: center;
 background-color: var(--black);
 border-radius: 5px;
 padding: 10px;
 &:not(:last-child) {
  margin-bottom: 10px;
 }
}

.text {
 color: var(--text);
 cursor: pointer;
}

.textDone {
 color: #535353;
 text-decoration: line-through;
}

.image {
 width: 24px;
 height: 24px;
}

.button {
 background-color: transparent;
 padding: 0;
}
